<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188785025704-rrap0o8c7akcs7k22qq4msnii26cckf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188785025704-rrap0o8c7akcs7k22qq4msnii26cckf3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>188785025704-m4lmel3pqmv2rcgqhbj00qobl5q2quti.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTQ3km_l6LurRWIc8pO6bDMSJrgVkBpsM</string>
	<key>GCM_SENDER_ID</key>
	<string>188785025704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.tng.office</string>
	<key>PROJECT_ID</key>
	<string>tngoffice-ae2eb</string>
	<key>STORAGE_BUCKET</key>
	<string>tngoffice-ae2eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188785025704:ios:412aca426b226dad68d89d</string>
	<key>DATABASE_URL</key>
	<string>https://tngoffice-ae2eb.firebaseio.com</string>
</dict>
</plist>